PORT=5000               # port number for your application, make sure that are exposing this port. Update your Dockerfile and docker compose file if you edit this option.

DATABASE_URL=           # this is the URL which your application will use to communicate with your database
DATABASE_DIRECT_URL=    # this is the URL which you will use to access or update your database

SALT_ROUNDS=10          # number of times the password is hashed and re-hashed, with a unique salt added to it.

## Run the following command to get secret
## openssl rand -hex 32
ACCESS_SECRET=
ACCESS_EXPIRY=
REFRESH_SECRET=
REFRESH_EXPIRY=

# create google oauth creds from google cloud console
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
